.codeBlock {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $color-background;
  color: $color-text;
  margin: 2rem;
  
  h1 {
    font-size: 2rem;
    font-weight: $font-weight-semibold;
    margin-bottom: 1.5rem;
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .code {
    display: block;
    overflow: auto;
    max-width: 100%;
    max-height: 60%;
    font-size: 0.75rem;
  }
  
  .copy-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    button {
      @extend .standard-button;
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
      transition: background-color 0.3s ease-in-out;

      &.copied {
        background-color: #4caf50;
      }
    }
  }
  
  a{
    color: yellow;
  }
}
