.testPage {
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem); // Subtract topBar height
  background-color: $color-background;
  color: $color-text;
  margin: 2rem;

  h1 {
    font-size: 2rem;
    font-weight: $font-weight-semibold;
    margin-bottom: 1.5rem;
  }

  input {
    @include inputField;
  }

  button {
    @include standard-button;
    margin-bottom: 2rem;
  }

  details {
    .instructions,
    .assertions {
    margin-top: .5rem;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 4px;
  }
    summary {
      font-weight: $font-weight-semibold;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
    ol {
      margin-bottom: 1rem;
      li {
        margin: 0.5rem 0;
      }
    }
  }
  
  .inputHistory {
    margin: 1rem 0;
    height: 10rem;
    // width: 80vw;
    overflow: auto;
    border: 0.1rem solid $color-input-border;
    padding:0.5rem 1.5rem;
    border-radius: 0.3rem;
    font-size: $font-size-base;
    color: $color-text;
    background-color: $color-input-background;

    li {
      border: 0.1rem solid $color-input-border;
      border-radius: 0.3rem;
      padding: 0.5rem 1rem;
      text-align: center;
      background-color: lighten($color-input-background, 5%);
    }
  }

  .recording {
    background-color: #4caf50;
    color: white;
    &:hover {
      background-color: #4aa14d;
      transform: translateY(-2px);
    }
  }

  .generate {
    background-color: #e44848;
    color: white;
    &:hover {
      background-color: #f85c5c;
      transform: translateY(-2px); 
    }
  }
}
