@mixin inputField {
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  border: 0.1rem solid $color-input-border;
  border-radius: 0.3rem;
  font-size: $font-size-base;
  color: $color-text;
  background-color: $color-input-background;
  outline: none;

  &::placeholder {
    color: $color-input-placeholder;
  }

  &:focus {
    border-color: $color-primary;
  }
}